name: Build and Update GitOps

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        run: |
          IMAGE=ghcr.io/${{ github.repository }}:${{ github.sha }}
          docker build -t $IMAGE .
          docker push $IMAGE

      - name: Checkout GitOps Repo
        uses: actions/checkout@v4
        with:
          repository: krbck/gitops-config
          token: ${{ secrets.GITOPS_TOKEN }}
          path: gitops

      - name: Update Image Tag
        run: |
          cd gitops/apps/argo-website
          sed -i "s/tag:.*/tag: \"${{ github.sha }}\"/" values.yaml

      - name: Commit and Push
        run: |
          cd gitops
          git config user.name "ci-bot"
          git config user.email "ci@local"
          git add .
          git commit -m "update image tag"
          git push
